<table border="2">
  <tr>
    <th>Board name</th>
    <th>Post name</th>
    <th>Qualification</th>
    <th>Last date</th>
    <th>More</th>
    <th>Type</th>

  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.board_name %></td>
    <td><%= job.post_name %></td>
    <td><%= job.qualification %></td>
    <td><%= job.last_date %></td>
    <td><%=link_to job.more,'#' %></td>
    <!-- <td><%#= job.type %></td> -->
    <!-- <td><%#= link_to 'Show', job %></td> -->
    <!-- <td><%#= link_to 'Edit', edit_job_path(job) %></td> -->
    <!-- <td><%#= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
