%table.table.table-striped.table-bordered.table-hover{:border=>"10px solid #ccc;"}
  %caption  
  %thead
    %tr.error
      %th Board name
      %th Post name
      %th Qualification
      %th Last date
      %th More
  %tbody
  - banks.each do |job|
    %tr
      %td= job.bank_name
      %td= job.post_name
      %td= job.qualification
      %td= job.last_date
      %td= link_to job.more,'#'
      / <td></haml_block><haml_silent></haml_silent><haml_block></td>
      / <td></haml_block><haml_silent></haml_silent><haml_block></td>
      / <td></haml_block><haml_silent></haml_silent><haml_block></td>
      / <td></haml_block><haml_silent></haml_silent><haml_block></td>
  %br/
