- unless banks.blank? 
  %table{border: "2"}
    %tr
      %th Board name
      %th Post name
      %th Qualification
      %th Last date
      %th More
    - banks.each do |job|
      %tr
        %td= job.bank_name
        %td= job.post_name
        %td= job.qualification
        %td= job.last_date
        %td= link_to job.more,'#'

    
