%table{border: "2"}
  %tr
    %th Board name
    %th Post name
    %th Qualification
    %th Last date
    %th More
  - jobs.each do |job|
    %tr
      %td= job.board_name
      %td= job.post_name
      %td= job.qualification
      %td= job.last_date
      %td= link_to job.more,'#'
      / <td></haml_block><haml_silent></haml_silent><haml_block></td>
      / <td></haml_block><haml_silent></haml_silent><haml_block></td>
      / <td></haml_block><haml_silent></haml_silent><haml_block></td>
      / <td></haml_block><haml_silent></haml_silent><haml_block></td>
%br/
 