- unless teachers.blank? 
  %table{border: "2"}
    %tr
      %th Board name
      %th Post name
      %th Qualification
      %th Last date
      %th More
    - teachers.each do |teacher|
      %tr
        %td= teacher.board_name
        %td= teacher.post_name
        %td= teacher.qualification
        %td= teacher.last_date
        %td= link_to teacher.more,'#'

    
