<!DOCTYPE html>
<html>
<head>
  <title>MySite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
