%html    
  %head
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %title SimpleScheme Magazine
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
  %body
    / BEGIN wrapper
    #wrapper
      / BEGIN header
      #header
        = render 'partials/header'
      #sidebar
        = render 'partials/right_side_bar'
      #sidebar-left
        = render 'partials/left_side_bar'
      #content
        = yield
    / END wrapper
    #footer
      = render 'partials/footer'
      = csrf_meta_tags